@media screen  and  (min-width: 900px){
	#logo{
		width: 35rem;
		margin-top: -3rem;
	}

	p{
		font-size: 1.8rem;
	}

	aside{
		font-size: 4rem;
	}

	.pageheader{
		height: 42rem;
		hgroup{
			display: table-cell;
			vertical-align: top;
			h2{
				font-size: 4rem;
			}
		}
		nav{
			ul{

				max-width: 25rem;
				height: 45rem;
				li{
					margin-left: -.5rem;
					a{
						font-size: 3rem;
					}
				}
			}
		}
	}
}