@import 'all';
@import 'meyer-reset';
@import 'settings';
@import 'general_foundicons';


body{
	font-family: "jaf-bernino-sans";
	font-weight: 300;
}

#logo{
	width: 100%;
	-webkit-filter:drop-shadow(5px 5px 8px rgba(0, 0, 0, .6));
}

.content{
	width: 100%;
	margin: 0 auto;

}

p{
	font-size: 1.7rem;
	line-height: 1.4;
	margin-bottom: 2rem;
	padding: 0 1rem 0 1rem;
}

small{
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 2rem;
	padding: 0 1rem 0 1rem;
	display: block;
}




ul{
	padding-bottom: 2rem;

	li{
		list-style: none;
		font-size: 1.7rem;
		margin-bottom: .8rem;
		line-height: 1.2;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	li:before {
		content: "\00BB \0020";
	}
}

h2 {
	font-size: 3rem;
	padding: 0 1rem 1rem 1rem;
	color: #72697E;
	font-family: "jaf-herb-condensed";
	font-weight: normal;
	text-shadow: #222222 0 0 2px;
}

form{
	padding: 0 1rem 0 1rem;
}

footer{
	padding: 2rem 0;
}


input, textarea, select,button {
	border: 1px solid #555;
	padding: 0.5rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
	width: 80%;
	background: #fff;
	@include linear-gradient(#fff,#ccc,1);
	-webkit-appearance: none;
	@include box-shadow(1px, 1px, 1px, #fff, 1);
	@include border-radius(0.5rem);
	vertical-align: top;
	height: 1.25rem;
	margin-bottom: 1rem;

}

input[type=checkbox], input[type=radio] {
	display: inline-block;
	line-height: 1rem;
	margin: 0 0.25rem 0 0;
	padding: 0;
	width: 1.25rem;
	height: 1.25rem;
	@include border-radius(0.25rem);
	vertical-align: text-top;
}

input[type=radio] {
	@include border-radius(2rem);
}


input[type=submit], button {
	width: auto;
	@include border-radius(1rem);
	padding: 0.25rem 1rem;
	line-height: 1.5rem;
	font-size: 1.8rem;
	height: 2.4rem;
	vertical-align: top;
}
textarea{
	height: 10rem;
} 




.pageheader{
	background-color: #FFF;
	background-image: url("map.jpg");
	background-position: left top;

	hgroup{
		h2{
			font-size: 1.9rem;
			font-weight: 800;
			text-shadow: #999 0 0 1px;
			letter-spacing: -0.125rem;
			font-family: "jaf-bernino-sans";
			text-align: center;
			margin-bottom: .5rem;
			color: #000000;
			text-shadow: #BBBBBB 0 0 3px;
		}
	}
		nav{
			ul{
				border-bottom: 2px solid #222222;
				padding-bottom: 0;
				li{
					font-family: "jaf-herb-condensed";
					font-weight: 300;
					font-size: 2rem;
					line-height: 1;
					margin-bottom: 0;
					padding: 0;

					&:before{
						display:none;
					}

					a{
						padding-top:.2rem;
						padding-bottom:.2rem;
						@include linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5),1);
						display: block;
						color: #222222;
						text-align: center;
						text-decoration: none;
						text-shadow: #FFFFFF 0 0 3px;
						border-top: 2px solid #222222;
					}

					a:hover{
						color: #6F614C;
						text-shadow: #dddddd 0 0 1px;
						
					}

					a.current{
						background: none;
						@include linear-gradient(rgba(51, 22, 63, .6), rgba(143, 117, 160, .6),.8);
						color: #34553E;
						text-shadow: #222222 0 0 4px;


					}
					i{
						display: block;
						text-decoration: none;
					}	
					
				}
			}
		}

	}

section#agenda{
	background: none;
	padding: 0;

	article{
		padding-bottom: 2rem;
	}

	h1{

		font-size: 2rem;
		padding-bottom: 1rem;
		font-family: "jaf-bernino-sans";
		font-weight: 600;
	}
	h2{
		font-size: 1.5rem;
		font-family: "jaf-bernino-sans";
		font-weight: 300;
		padding-left: 0;
	}
	time{
		font-size: 4rem;
		font-weight: 300;
		letter-spacing: -.5rem;
	}


	a{
		text-decoration: none;
	}
	a:link{
		color: #6F614C;
		text-shadow: #6F6F6F 0 0 1px;
	}
	a:visited{
		color: #6F614C;
		text-shadow: #6F6F6F 0 0 1px;
	}
	a:hover,a:active{
		color: #8A7455;
		text-shadow: #8A8A8A 0 0 1px;
		text-decoration: underline;
		
	}
}	


section{
	min-height: 10rem;
	padding: 1rem;
	padding-bottom: 10rem;
	background-color: #FFF;
	
}

#attend{
	background-color: #2f4234;
	@include linear-gradient(rgba(200,200,200,.2), rgba(200,200,200,0), 1);
	background-size: 10%;
	background-repeat: repeat-x;

	h2{
		color: #FFF;
		text-shadow: #000000 0 0 2px;
	}
}

#schedule{
	background: none;
}

#location{
	background-color: #88bc96;
	@include linear-gradient(rgba(200,200,200,.7), rgba(200,200,200,0), 1);
	background-size: 10%;
	background-repeat: repeat-x;

	h2{
		color: #FFF;
	}
}

#speak{
	background-color: #72697E;
	@include linear-gradient(rgba(200,200,200,.3), rgba(200,200,200,0), 1);
	background-size: 10%;
	background-repeat: repeat-x;

	h2{
		color: #FFF;
	}
}

#schedule{
	background-color: #88bc96;
	@include linear-gradient(rgba(200,200,200,.7), rgba(200,200,200,0), 1);
	background-size: 10%;
	background-repeat: repeat-x;

	h2{
		color: #FFF;
	}
}

#contact{
	@include linear-gradient(rgba(136, 188, 150, .5), rgba(136, 188, 150, 0), 1);
	background-size: 8%;
	background-repeat: repeat-x;
}

body.attend{
	footer{
		@include linear-gradient(rgba(136, 188, 150, .5), rgba(136, 188, 150, 0), 1);
		background-size: 30%;
		background-repeat: repeat-x;
	}
}

body.speak{
	footer{
		@include linear-gradient(rgba(114, 105, 126, .5), rgba(114, 105, 126, 0), 1);
		background-size: 30%;
		background-repeat: repeat-x;
	}
}

body.schedule{
	footer{
		@include linear-gradient(rgba(136, 188, 150, .5), rgba(136, 188, 150, 0), 1);
		background-size: 30%;
		background-repeat: repeat-x;
	}
}	

#locationmap{
	max-width: 100%;
}

@import 'desktop';
@import 'tablet';
@import 'phone';