html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "jaf-bernino-sans-narrow";
  font-weight: normal;
  margin: 0 auto;
  background-image: url("bg.png");
  background-repeat: repeat; }

.content {
  max-width: 60rem;
  margin: 0 auto; }

.pageheader {
  padding: 0 0 2rem 0; }
  .pageheader hgroup {
    display: table-cell;
    padding-right: 0rem; }
    .pageheader hgroup h1 {
      font-size: 5rem;
      padding-bottom: 1rem; }
    .pageheader hgroup h2 {
      font-size: 2rem; }
  .pageheader nav {
    padding: 0;
    margin: 0;
    vertical-align: top;
    display: table-cell;
    width: 35rem; }
    .pageheader nav ul {
      padding: 0;
      margin: 0; }
      .pageheader nav ul li {
        font-family: "jaf-herb-condensed";
        font-size: 2.3rem;
        line-height: 1;
        display: inline-block;
        padding: 0;
        margin: 0;
        text-align: center; }
        .pageheader nav ul li:before {
          display: none; }
        .pageheader nav ul li a {
          color: #8A7455;
          text-align: center;
          display: inline-block;
          padding: 3rem 1.5rem 7rem 1.5rem;
          text-decoration: none;
          margin: 0;
          text-shadow: #e6d2fe 0 0 3px; }
        .pageheader nav ul li a:hover {
          background-color: #E6D2FE;
          color: #6F614C; }
        .pageheader nav ul li a.current {
          background: none;
          color: #34553E;
          background-image: url("navflag.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center -20px;
          -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.6));
          text-shadow: #222222 0 0 4px; }

p {
  font-size: 1.7rem;
  line-height: 1.4;
  margin-bottom: 2rem; }

h1, h2 {
  font-weight: bold; }

h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #72697E; }

ul {
  padding-bottom: 2rem; }

li {
  list-style: none;
  font-size: 1.7rem;
  margin-bottom: .8rem;
  line-height: 1.2;
  padding-left: 3rem; }

ul li:before {
  content: "\00BB \0020"; }

section {
  min-height: 10rem;
  padding: 1rem;
  padding-bottom: 10rem;
  background-color: #FFF;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

footer {
  padding: 2rem 0; }

input, textarea, select, button {
  border: 1px solid #555555;
  padding: 0.5rem;
  font-size: 15px;
  line-height: 1.2rem;
  width: 80%;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, white, #cccccc);
  background-image: -moz-linear-gradient(top, white, #cccccc);
  background-image: -ms-linear-gradient(top, white, #cccccc);
  background-image: -o-linear-gradient(top, white, #cccccc);
  background-image: linear-gradient(top, bottom, white, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#cccccc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#cccccc')";
  -webkit-appearance: none;
  -moz-box-shadow: 1px 1px 1px white;
  -webkit-box-shadow: 1px 1px 1px white;
  box-shadow: 1px 1px 1px white;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='#255255255');
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='#255255255')";
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  height: 1.25rem;
  margin-bottom: 1rem; }

input[type=checkbox], input[type=radio] {
  display: inline-block;
  line-height: 1rem;
  margin: 0 0.25rem 0 0;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: text-top; }

input[type=radio] {
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

input[type=submit], button {
  width: auto;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.25rem 1rem;
  line-height: 1.5rem;
  font-size: 1.8rem;
  height: 2.4rem;
  vertical-align: top; }

textarea {
  height: 10rem; }

#locationmap {
  width: 60rem; }

#logo {
  width: 25rem;
  -webkit-filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.6)); }

#attend {
  background-color: #2f4234; }
  #attend h2 {
    color: #FFF; }

#schedule, #about {
  background: none; }

#location {
  background-color: #88bc96; }
  #location h2 {
    color: #FFF; }

section#agenda {
  background: none;
  padding: 0; }
  section#agenda article {
    padding-bottom: 3rem; }
  section#agenda h1 {
    font-size: 2rem;
    padding-bottom: 1rem; }
  section#agenda h2 {
    font-size: 1.5rem; }
  section#agenda time {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -.4rem;
    width: 22rem;
    display: inline-block;
    vertical-align: top; }
  section#agenda header {
    display: inline-block;
    width: 37rem; }
  section#agenda a {
    text-decoration: none; }
  section#agenda a:link {
    color: #88bc96; }
  section#agenda a:visited {
    color: #63846b; }
  section#agenda a:hover, section#agenda a:active {
    color: #2f4234; }
