@import 'all';
@import 'meyer-reset';

body{
	font-family: "jaf-bernino-sans-narrow";
	font-weight: normal;
	width: 60rem;
	margin: 0 auto;

}




header{
	padding: 2rem 0;

	hgroup{
		display: table-cell;
		padding-right: 2rem;

		h1 {
		  font-size: 5rem;
		  padding-bottom: 1rem;
		}
		h2{
			font-size: 2rem;
		}
	}
	nav{
		vertical-align: top;
		display: table-cell;
		ul{
			padding-bottom: 0rem;
			li{
				padding: .2rem;
			}
		}
	}

}

p{
	font-size: 1.7rem;
	line-height: 1.4;
	margin-bottom: 2rem;
}

h2 {
	font-size: 3rem;
	padding-bottom: 1rem;
}

ul{
	padding-bottom: 2rem;
}

li{
	list-style: none;
	font-size: 1.7rem;
	margin-bottom: .8rem;
	line-height: 1.2;
	padding-left: 3rem;
}

ul li:before {

	content: "\00BB \0020";
	}

section{
	min-height: 30rem;
	padding-bottom: 10rem;
}
footer{
	padding: 2rem 0;
}

input, textarea, select,button {
   border: 1px solid #555;
   padding: 0.5rem;
   font-size: 15px;
   line-height: 1.2rem;
   width: 80%;
   background: #fff;
   @include linear-gradient(#fff,#ccc,1);
   -webkit-appearance: none;
   @include box-shadow(1px, 1px, 1px, #fff, 1);
   @include border-radius(0.5rem);
   vertical-align: top;
   height: 1.25rem;
   margin-bottom: 1rem;
   
 }

input[type=checkbox], input[type=radio] {
   display: inline-block;
   line-height: 1rem;
   margin: 0 0.25rem 0 0;
   padding: 0;
   width: 1.25rem;
   height: 1.25rem;
   @include border-radius(0.25rem);
   vertical-align: text-top;
 }

 input[type=radio] {
 	@include border-radius(2rem);
  }


 input[type=submit], button {
     width: auto;
     @include border-radius(1rem);
     padding: 0.25rem 1rem;
     line-height: 1.5rem;
     font-size: 1.8rem;
     height: 2.4rem;
     vertical-align: top;
   }
  textarea{
  	height: 10rem;
  } 

#locationmap{
	width: 60rem;
}

/*form{
	input[type=email] {
		-webkit-appearance:none;
		width: 80%;
		height: 50px;
		font-size: 1.5rem;
		vertical-align: top;
		padding:0;
		@include border-radius(8px);

	}
	button {
		width: 15%;
		height: 54px;
		font-size: 1.8rem;
		vertical-align: top;
		padding:0;
		@include border-radius(8px);

	}
}*/