html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* font-face */
@font-face {
  font-family: "GeneralFoundicons";
  src: url("fonts/general_foundicons.eot");
  src: url("fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("fonts/general_foundicons.woff") format("woff"), url("fonts/general_foundicons.ttf") format("truetype"), url("fonts/general_foundicons.svg#GeneralFoundicons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* global foundicon styles */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat; }

[class*="foundicon-"]:before {
  font-family: "GeneralFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit; }

/* icons */
.foundicon-settings:before {
  content: "\f000"; }

.foundicon-heart:before {
  content: "\f001"; }

.foundicon-star:before {
  content: "\f002"; }

.foundicon-plus:before {
  content: "\f003"; }

.foundicon-minus:before {
  content: "\f004"; }

.foundicon-checkmark:before {
  content: "\f005"; }

.foundicon-remove:before {
  content: "\f006"; }

.foundicon-mail:before {
  content: "\f007"; }

.foundicon-calendar:before {
  content: "\f008"; }

.foundicon-page:before {
  content: "\f009"; }

.foundicon-tools:before {
  content: "\f00a"; }

.foundicon-globe:before {
  content: "\f00b"; }

.foundicon-home:before {
  content: "\f00c"; }

.foundicon-quote:before {
  content: "\f00d"; }

.foundicon-people:before {
  content: "\f00e"; }

.foundicon-monitor:before {
  content: "\f00f"; }

.foundicon-laptop:before {
  content: "\f010"; }

.foundicon-phone:before {
  content: "\f011"; }

.foundicon-cloud:before {
  content: "\f012"; }

.foundicon-error:before {
  content: "\f013"; }

.foundicon-right-arrow:before {
  content: "\f014"; }

.foundicon-left-arrow:before {
  content: "\f015"; }

.foundicon-up-arrow:before {
  content: "\f016"; }

.foundicon-down-arrow:before {
  content: "\f017"; }

.foundicon-trash:before {
  content: "\f018"; }

.foundicon-add-doc:before {
  content: "\f019"; }

.foundicon-edit:before {
  content: "\f01a"; }

.foundicon-lock:before {
  content: "\f01b"; }

.foundicon-unlock:before {
  content: "\f01c"; }

.foundicon-refresh:before {
  content: "\f01d"; }

.foundicon-paper-clip:before {
  content: "\f01e"; }

.foundicon-video:before {
  content: "\f01f"; }

.foundicon-photo:before {
  content: "\f020"; }

.foundicon-graph:before {
  content: "\f021"; }

.foundicon-idea:before {
  content: "\f022"; }

.foundicon-mic:before {
  content: "\f023"; }

.foundicon-cart:before {
  content: "\f024"; }

.foundicon-address-book:before {
  content: "\f025"; }

.foundicon-compass:before {
  content: "\f026"; }

.foundicon-flag:before {
  content: "\f027"; }

.foundicon-location:before {
  content: "\f028"; }

.foundicon-clock:before {
  content: "\f029"; }

.foundicon-folder:before {
  content: "\f02a"; }

.foundicon-inbox:before {
  content: "\f02b"; }

.foundicon-website:before {
  content: "\f02c"; }

.foundicon-smiley:before {
  content: "\f02d"; }

.foundicon-search:before {
  content: "\f02e"; }

#logo {
  width: 100%; }

body {
  font-family: "jaf-bernino-sans";
  font-weight: 300;
  font-size: 1.5rem; }

a {
  text-decoration: none; }

a:link {
  color: #6f614c; }

a:visited {
  color: #6f614c; }

a:hover {
  color: #88bc96;
  text-decoration: underline; }

a:active {
  color: #88bc96;
  text-decoration: underline; }

.content {
  margin: 0 auto;
  max-width: 60rem; }

section {
  padding: 1rem 1rem 2rem 1rem; }
  section h2 {
    padding-top: 2rem; }

footer {
  padding-bottom: 2rem; }
  footer p, footer small {
    padding: 0 1rem; }

h2 {
  font-family: "jaf-bernino-sans";
  font-weight: 600; }

small {
  font-size: .9rem;
  display: block; }

p {
  line-height: 1.4;
  padding: 0.7rem 0; }

ul li {
  padding: 0.7rem 2rem;
  line-height: 1.3; }
ul li:before {
  content: "\2666 \0020";
  font-size: 1rem; }

aside {
  padding: 2rem 0;
  font-family: "jaf-bernino-sans";
  font-weight: 600;
  font-style: italic;
  font-size: 2.5rem;
  color: #33163f;
  text-shadow: #72697e 0 0 0.3rem; }

input, textarea, select, button {
  border: 1px solid #555555;
  padding: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  width: 80%;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, white, #cccccc);
  background-image: -moz-linear-gradient(top, white, #cccccc);
  background-image: -ms-linear-gradient(top, white, #cccccc);
  background-image: -o-linear-gradient(top, white, #cccccc);
  background-image: linear-gradient(top, bottom, white, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#cccccc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#cccccc')";
  -webkit-appearance: none;
  -moz-box-shadow: 1px 1px 1px white;
  -webkit-box-shadow: 1px 1px 1px white;
  box-shadow: 1px 1px 1px white;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='#255255255');
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='#255255255')";
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  height: 1.25rem;
  margin-bottom: 1rem; }

input[type=checkbox], input[type=radio] {
  display: inline-block;
  line-height: 1rem;
  margin: 0 0.25rem 0 0;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: text-top; }

input[type=radio] {
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

input[type=submit], button {
  width: auto;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.25rem 1rem;
  line-height: 1.5rem;
  font-size: 1.8rem;
  height: 2.4rem;
  vertical-align: top; }

textarea {
  height: 10rem; }

.pageheader {
  text-align: center;
  background-image: url("map.jpg");
  background-repeat: repeat-x; }
  .pageheader h2 {
    font-size: 1.9rem;
    text-shadow: #999999 0 0 1px;
    letter-spacing: -0.125rem;
    margin-bottom: .5rem;
    color: #000000;
    text-shadow: #bbbbbb 0 0 0.5rem; }
  .pageheader nav ul {
    border-bottom: 1px solid #cccccc; }
    .pageheader nav ul li {
      padding: 0;
      border-top: 1px solid #cccccc;
      text-align: center;
      font-family: "jaf-herb-condensed";
      font-weight: normal;
      font-size: 1.9rem; }
      .pageheader nav ul li a {
        color: #222222;
        text-shadow: white 0 0 3px;
        padding: 0.5rem 0;
        width: 100%;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.5)), color-stop(1, rgba(255, 255, 255, 0.5)));
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        background-image: linear-gradient(top, bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.5)', endColorstr='rgba(255, 255, 255, 0.5)');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 255, 255, 0.5)', endColorstr='rgba(255, 255, 255, 0.5)')";
        display: block;
        text-decoration: none; }
        .pageheader nav ul li a i {
          display: block; }
      .pageheader nav ul li a.current {
        background: none;
        background-color: rgba(51, 22, 63, 0.6);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(143, 117, 160, 0.6)), color-stop(1, rgba(51, 22, 63, 0.6)));
        background-image: -webkit-linear-gradient(top, rgba(143, 117, 160, 0.6), rgba(51, 22, 63, 0.6));
        background-image: -moz-linear-gradient(top, rgba(143, 117, 160, 0.6), rgba(51, 22, 63, 0.6));
        background-image: -ms-linear-gradient(top, rgba(143, 117, 160, 0.6), rgba(51, 22, 63, 0.6));
        background-image: -o-linear-gradient(top, rgba(143, 117, 160, 0.6), rgba(51, 22, 63, 0.6));
        background-image: linear-gradient(top, bottom, rgba(143, 117, 160, 0.6), rgba(51, 22, 63, 0.6));
        color: #34553e;
        text-shadow: #222222 0 0 4px; }
        .pageheader nav ul li a.current:hover {
          color: #34553e;
          text-shadow: #222222 0 0 4px; }
      .pageheader nav ul li a:hover {
        color: #6f614c;
        text-shadow: #dddddd 0 0 1px; }
    .pageheader nav ul li:before {
      content: none; }

#locationmap {
  width: 100%; }

#agenda {
  background: none;
  padding: 0; }
  #agenda article {
    padding-bottom: 3rem; }
  #agenda h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: "jaf-bernino-sans";
    font-weight: 600; }
  #agenda h2 {
    font-size: 1.5rem;
    font-family: "jaf-bernino-sans";
    font-weight: 300;
    padding: 0; }
  #agenda time {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -.35rem; }
  #agenda a {
    text-decoration: none; }
  #agenda a:link {
    color: #6f614c;
    text-shadow: #6f6f6f 0 0 1px; }
  #agenda a:visited {
    color: #6f614c;
    text-shadow: #6f6f6f 0 0 1px; }
  #agenda a:hover, #agenda a:active {
    color: #6f614c;
    text-shadow: #8a8a8a 0 0 1px;
    text-decoration: underline; }

@media screen and (min-width: 580px) {
  h2 {
    font-size: 3rem; }

  #logo {
    width: 25rem; }

  footer p, footer small {
    padding: 0 0; }

  aside {
    font-size: 3rem; }

  .pageheader {
    height: 32rem; }
    .pageheader hgroup {
      display: table-cell;
      vertical-align: top;
      padding-top: 3rem; }
    .pageheader nav {
      position: relative;
      display: table-cell;
      vertical-align: top;
      text-align: center;
      width: 100%; }
      .pageheader nav ul {
        background-image: url("navbg.svg");
        -webkit-filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.8));
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        margin: 0 auto;
        max-width: 15rem;
        height: 35rem;
        border: none; }
        .pageheader nav ul li {
          border: none; }
          .pageheader nav ul li a {
            font-size: 2.3rem;
            background: none;
            text-shadow: #777777 0 0 3px; }
          .pageheader nav ul li a:hover {
            color: #88bc96;
            text-shadow: #2f4234 0 0 3px; }
          .pageheader nav ul li a.current {
            background: none; } }
@media screen and (min-width: 900px) {
  #logo {
    width: 35rem;
    margin-top: -3rem; }

  p {
    font-size: 1.8rem; }

  aside {
    font-size: 4rem; }

  .pageheader {
    height: 42rem; }
    .pageheader hgroup {
      display: table-cell;
      vertical-align: top; }
      .pageheader hgroup h2 {
        font-size: 4rem; }
    .pageheader nav ul {
      max-width: 25rem;
      height: 45rem; }
      .pageheader nav ul li {
        margin-left: -.5rem; }
        .pageheader nav ul li a {
          font-size: 3rem; } }
