@import 'all';
@import 'meyer-reset';
@import 'settings';
@import 'general_foundicons';

body{
	font-family: "jaf-bernino-sans";
	font-weight: 300;
	margin: 0 auto;

}




.content{
	max-width: 60rem;
	margin: 0 auto;
}


.pageheader{
	padding: 0 0 0 0;
	background-color: #FFF;

	hgroup{
		display: table-cell;
		padding-right: 0rem;
		position: relative;
		padding-bottom: 0;

		.dateloc{
			padding: 0 0 0 1rem;
			text-align: right;
			display: block;
			position: relative;
			left: 35rem;
			top: 0;
			
			margin-top: -4rem;
		}

		h1 {
		  font-size: 5rem;
		  padding-bottom: 1rem;
		}
		h2{
			font-size: 1.5rem;
			font-weight: 800;
			letter-spacing: -0.125rem;
			display: inline; 
			margin-left: 2rem;
			margin-bottom: -20rem;
			font-family: "jaf-bernino-sans";
			text-shadow: #999 0 0 1px;
		}
	}
	nav{
		padding: 0;
		margin: 0;
		vertical-align: top;
		display: table-cell;
		width: 35rem;
		ul{
			text-align: right;
			padding: 0;
			margin: 0;
			li{
				font-family: "jaf-herb-condensed";
				font-weight: 300;
				font-size: 3rem;
				
				line-height: 1;
				display: inline-block;
				padding: 0;
				margin: 0;
				text-align: center;
				&:before{
					display:none;
				}
				a{
					width: 8rem;
					color: #8A7455;
					text-align: center;
					display: inline-block;
					padding: 2rem 1.5rem 8rem 1.5rem;
					text-decoration: none;
					margin:0;
					text-shadow: #8A8A8A 0 0 1px;
				}
				a:hover{
					color: #6F614C;
					text-shadow: #6F6F6F 0 0 1px;
					
					span{
						border-bottom: 5px solid #6F614C;
					}
				}

				a.current{
					background: none;

					color: #34553E;
					background-image: url("navflag.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center -20px;
					-webkit-filter:drop-shadow(3px 3px 6px rgba(0, 0, 0, .6));
					text-shadow: #222222 0 0 4px;

					&:hover{
						span{
							border-bottom: none;
						}
					};

				}
				i{
					display: block;
					text-decoration: none;
				}	
				
			}
		}
	}

}

p{
	font-size: 1.7rem;
	line-height: 1.4;
	margin-bottom: 2rem;
}

h1,h2{
	font-weight: bold;
}

h2 {
	font-size: 3rem;
	padding-bottom: 1rem;
	color: #72697E;
	font-family: "jaf-herb-condensed";
	font-weight: normal;
	text-shadow: #222222 0 0 2px;
}

ul{
	padding-bottom: 2rem;
}

li{
	list-style: none;
	font-size: 1.7rem;
	margin-bottom: .8rem;
	line-height: 1.2;
	padding-left: 3rem;
}

ul li:before {

	content: "\00BB \0020";
	}

section{
	min-height: 10rem;
	padding: 1rem;
	padding-bottom: 10rem;
	background-color: #FFF;
	
	@include border-radius(0.25rem); 
}
footer{
	padding: 2rem 0;
}

input, textarea, select,button {
   border: 1px solid #555;
   padding: 0.5rem;
   font-size: 15px;
   line-height: 1.2rem;
   width: 80%;
   background: #fff;
   @include linear-gradient(#fff,#ccc,1);
   -webkit-appearance: none;
   @include box-shadow(1px, 1px, 1px, #fff, 1);
   @include border-radius(0.5rem);
   vertical-align: top;
   height: 1.25rem;
   margin-bottom: 1rem;
   
 }

input[type=checkbox], input[type=radio] {
   display: inline-block;
   line-height: 1rem;
   margin: 0 0.25rem 0 0;
   padding: 0;
   width: 1.25rem;
   height: 1.25rem;
   @include border-radius(0.25rem);
   vertical-align: text-top;
 }

 input[type=radio] {
 	@include border-radius(2rem);
  }


 input[type=submit], button {
     width: auto;
     @include border-radius(1rem);
     padding: 0.25rem 1rem;
     line-height: 1.5rem;
     font-size: 1.8rem;
     height: 2.4rem;
     vertical-align: top;
   }
  textarea{
  	height: 10rem;
  } 

#locationmap{
	width: 60rem;
}

#logo{
	width: 25rem;
	-webkit-filter:drop-shadow(5px 5px 8px rgba(0, 0, 0, .6));
}

#attend{
	background-color: #2f4234;
	@include linear-gradient(rgba(200,200,200,.2), rgba(200,200,200,0), 1);
	background-size: 10%;
	background-repeat: repeat-x;

	h2{
		color: #FFF;
		text-shadow: #000000 0 0 2px;
	}
}

#schedule{
	background: none;
}

#location{
	background-color: #88bc96;
	@include linear-gradient(rgba(200,200,200,.7), rgba(200,200,200,0), 1);
	background-size: 10%;
	background-repeat: repeat-x;

	h2{
		color: #FFF;
	}
}

#speak{
	background-color: #72697E;
	@include linear-gradient(rgba(200,200,200,.3), rgba(200,200,200,0), 1);
	background-size: 10%;
	background-repeat: repeat-x;

	h2{
		color: #FFF;
	}
}

#schedule{
	background-color: #88bc96;
	@include linear-gradient(rgba(200,200,200,.7), rgba(200,200,200,0), 1);
	background-size: 10%;
	background-repeat: repeat-x;

	h2{
		color: #FFF;
	}
}

#contact{
	@include linear-gradient(rgba(136, 188, 150, .5), rgba(136, 188, 150, 0), 1);
	background-size: 8%;
	background-repeat: repeat-x;
}

section#agenda{
	background: none;
	padding: 0;
	article{
		padding-bottom: 3rem;
	}
	h1{
		font-size: 2rem;
		padding-bottom: 1rem;
	}
	h2{
		font-size: 1.5rem;
	}
	time{
		font-size: 4rem;
		font-weight: bold;
		letter-spacing: -.4rem;
		width: 22rem;
		display: inline-block;
		vertical-align: top;
	}
	header{
		display: inline-block;
		width: 37rem;
	}

	a{
		text-decoration: none;
	}
	a:link{
		color: #88bc96;
	}
	a:visited{
		color:#63846b;
	}
	a:hover,a:active{
		color: #2f4234;
	}
}