@media screen  and  (min-width: 580px) {

	h2{
		font-size: 3rem;
	}

	#logo{
		width: 25rem;
	}

	footer{
		p,small{
			padding: 0 0;
		}
	}

	aside{
		font-size: 3rem;
	}

	.pageheader{
		height: 32rem;
		hgroup{
			display: table-cell;
			vertical-align: top;
			padding-top: 3rem;
		}
		nav{
			position: relative;
			display: table-cell;
			vertical-align: top;
			text-align: center;
			width: 100%;
			ul{
				background-image: url('navbg.svg');
				-webkit-filter:drop-shadow(2px 2px 5px rgba(0, 0, 0, .8));
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center top;
				margin: 0 auto;
				max-width: 15rem;
				height: 35rem;
				border: none;
				li{
					border: none;
					a{
						font-size: 2.3rem;
						background: none;
						text-shadow: #777 0 0 3px;
					}
					a:hover{
						color: $lightgreen;
						text-shadow: $darkgreen 0 0 3px;
					}
					a.current{
						background: none;
					}
				}
			}
		}
	}

}